.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 20px;
  background-color: #fbfbff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2); /* add one for dark mode */
  backdrop-filter: blur(40px);
}

html[data-theme="dark"] .header {
  background: rgba(0, 0, 0, 0.2);
}

.header__links {
  display: flex;
  align-items: center;
  gap: 24px; /*different on larger screens*/
}

.header__navLinks {
  display: none; /*display:flex on tablet*/
}

.header__navLinks a {
  font-size: 24px;
}

.header__hireMeBtn {
  display: none;
}

[data-theme="light"] .header__menuIcon {
  content: url("../images/header/menu.svg");
}
[data-theme="light"] .header__menuIcon.open {
  content: url("../images/header/close.svg");
}

[data-theme="dark"] .header__menuIcon {
  content: url("../images/header/menu_white.svg");
}
[data-theme="dark"] .header__menuIcon.open {
  content: url("../images/header/close_white.svg");
}

@media (min-width: 1024px) {
  .header__links {
    gap: 40px;
  }
  .header__navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header__hireMeBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-neutral-black);
    border-radius: 28px;
    padding: 20px 40px;
    font-size: 24px;
    color: var(--color-neutral-white);
  }

  html[data-theme="dark"] .header__hireMeBtn {
    background-color: var(--color-neutral);
    color: var(--color-neutral-black);
  }

  .header__menuBtn {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header__links {
    gap: 80px;
  }
  .header__navLinks {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
