.menu {
  z-index: 50;
  min-height: 100vh;
  padding: 24px;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2); /* Light mode */
  backdrop-filter: blur(40px);
  /* Instead of display: none */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

/* Dark mode */
html[data-theme="dark"] .menu {
  background: rgba(0, 0, 0, 0.2);
}

/* Show menu */
.menu.open {
  visibility: visible;
  opacity: 1;
}

.menu__navLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
}

.menu__hireMeBtn {
  display: block;
  margin-top: 24px;
  background-color: var(--color-neutral-black);
  border-radius: 28px;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-neutral-white);
}

.menu__btnWrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.menu__hireMeBtn:hover {
  background-color: var(--color-primary);
}

[data-theme="dark"] .menu__hireMeBtn:hover {
  background-color: var(--color-primary-light);
}

[data-theme="dark"] .menu__hireMeBtn {
  background-color: var(--color-neutral);
  color: var(--color-neutral-black);
}
